.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 23.5rem;
}
.inputError {
  align-self: flex-end;
  letter-spacing: -0.99px;
  color: #ed0000a6;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.message {
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.link {
  text-align: left;
  text-decoration: underline;
  font-size: 1.1rem;
  letter-spacing: -0.99px;
  color: #393939;
  font: normal normal normal 18px/22px Lato;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  font-weight: 500;
}
.messageTitle {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
  margin-top: 3rem;
}
.infoMessage {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ee47a0;
  margin: 0;
}
.infoMessageContainer {
  margin-top: 2rem;
}
.inputErrorWrapper {
  display: flex;
  flex-direction: column;
  height: 5.3rem;
  font-weight: bold;
}
