.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.infoContainer {
  display: flex;
  grid-column: 1 / span 2;
  gap: 1rem;
  align-items: first baseline;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -1.5px;
}
.aboutContainer {
  text-align: left;
}

.image {
  width: 35rem;
  height: 20rem;
  border-radius: 20px;
}
.eventName {
  font-size: 2.75rem;
  font-weight: 700;
  letter-spacing: -1.5px;
  margin-bottom: 0;
}
.about {
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -1.5px;
  margin-top: 0;
}
.description {
  width: 37rem;
  height: 8.7rem;
}
.ticketPrice {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 2rem;
}
.price {
  color: #ff48ab;
}
.quantityAddBtn {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}
.input {
  width: 4.5rem;
  height: 2rem;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  text-align: center;
}
.addBtn {
  width: 8rem;
  height: 2rem;
  border-radius: 20px;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}
