.adminCardContainer {
  height: 5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.mainData {
  width: 100%;
  gap: 1rem;
  display: flex;
  align-items: center;
  margin: 0;
}

.imageAdmin {
  min-width: 6rem;
  max-width: 6rem;
  height: 4rem;
  margin-right: 1rem;
  border-radius: 20px;
}

.adminEventName {
  font-weight: 700;
  letter-spacing: -1.32px;
  color: #000000;
  margin: 0;
  font-size: 1.1rem;
}
.eventDate {
  text-align: left;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: -0.99px;
  color: #ff48ab;
  margin: 0;
}
.adminDate {
  text-align: left;
  font-weight: 700;
  letter-spacing: -0.99px;
  color: #ff48ab;
  margin: 0;
  font-size: 0.8rem;
}

.location {
  text-align: left;
  line-height: 0.9rem;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: -0.77px;
  color: #393939;
  margin: 0;
}
.btn {
  width: 8rem;
  height: 2rem;
  color: #fff;
  background: #000000;
  border-radius: 20px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0.5rem;
  border: none;
}
.updateBtn {
  background: #ff48ab;
  color: #000;
}
