.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}
.eventsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.flexBtnsContainer {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
  justify-content: space-between;
}
.btn {
  width: 14.3rem;
  height: 2rem;
  color: #fff;
  background: #000000;
  border-radius: 20px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: -0.88px;
  cursor: pointer;
  border: none;
}
.btnCheckoutBackground {
  background: #ee47a0;
}
.cardElementWrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.input {
  width: 22.3rem;
  height: 2rem;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 21px;
  padding-top: 0.8rem;
  padding-left: 1.5rem;
  font-size: 1rem;
}
.label {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: -0.99px;
  color: #393939;
}
.inputLabelWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: -0.99px;
  color: #393939;
}
