.mainbarContainer {
  width: 78%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.mainbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4.3rem;
  background: #000000;
}
.logo {
  margin-right: 2rem;
}
.searchBtnsContainer {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
  align-items: center;
}
.navlinks {
  text-align: left;
  font-size: 1rem;
  letter-spacing: -0.77px;
  color: #d3d3d3;
  text-decoration: none;
}
.active {
  color: #ff48ab;
}
.searchbar {
  width: 18.4rem;
  height: 2.6rem;
  background: #ffffff;
  border-radius: 21px;
  text-align: left;
  padding-left: 1rem;
}
.searchbar::placeholder {
  letter-spacing: -0.99px;
  color: #393939;
  font-size: 1rem;
  font-weight: bold;
}

.copyright {
  color: #d3d3d3;
  margin-left: auto;
}
.iconsContainer {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-left: 1rem;
  align-items: center;
}

.userIcon {
  cursor: pointer;
}
